{% load i18n static %}
<!-- header.html -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  

<!-- Add other header elements here -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><img src="{% static 'assets/img/docker_logo.webp' %}" alt="Add" class="add-icon" style="height: 55px; width: 45px;"><a href="{% url 'landing' %}">Dockerfile Generator</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto {% if request.path == '' %}active{% endif %}" href="{% url 'landing' %}">Home</a></li>
          <li><a class="nav-link scrollto {% if request.path == '/home/' %}active{% endif %}" href="{% url 'home' %}">Creation</a></li>
          <li><a class="nav-link scrollto {% if request.path == '/write_dockerfile/' %}active{% endif %}" href="{% url 'write_dockerfile' %}">Write</a></li>
          <li><a class="nav-link scrollto {% if request.path == '/history/' %}active{% endif %}" href="{% url 'history' %}">History</a></li>
          <li class="dropdown"><a href="{% url 'dockerfile_learn' %}"><span>Learn dockerfile</span> <i class="bi bi-chevron-down"></i></a></li>
          {% if user.is_authenticated %}
            <li class="nav-item" style="left: 10%;">
              <a class="nav-link" href="#">
                <img src="{% static 'assets/img/user.png' %}" alt="User Image" style="width: 30px; height: 30px;">
                {{ user.username }}   
              </a>
              <a class="nav-link" style="left: 20px; font-size: small;" href="{% url 'logout' %}">Logout</a>
            </li>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
